.Todo__all-clear {
  text-align: center;

}
.Todo__all-clear__image {
  width: 220px;
  height: auto;
}

.Todo__form {
  margin-bottom:40px;
  display: flex;
}

input[type='text'] {
  border: 1px solid #ddd;
  border-color: #e6e8e6;
  min-width: 77%;
  transition: all ease-in 0.25s;
  font-size: 17px;
  padding: 0 10px;
}

input[type='submit'] {
  min-width: 21%;
  line-height: 30px;
  border-radius: 3px;
  margin-left: 2%;
  display: inline-block;
  padding: 0.2em 1em;
  font-size: 26px;
  cursor: pointer;
  background:#ED6A5A;
  color: white;
  transition: all ease-in 0.25s;
}

input[type='submit']:disabled {
  background: white;
  color:#e6e8e6;
  border-color: #e6e8e6;

}

input:focus{
  outline: none;
  border: 1px solid #a3b1ff;
  border: 1px solid #4392F1;
}

input::placeholder{
  color: rgba(0,0,0,0.3);
  font-weight: 100;
  /* color: #e6e8e6 */
  font-style: italic;
}

.Todo__list {
  padding: 0;
}

.Todo__item {
  font-size: 18px;
  font-weight: 200;
  position: relative;
  list-style-type: none;
  display: block;
  margin: 10px 0;
  /* background: #e0e8f5; */
  border-radius: 3px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 49px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #e6e8e6;
  background: rgba(0,0,0,0.02);
}

.Todo__item--completed {
  text-decoration: line-through;
}
